.form__container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.521);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__newProduct {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background-color: var(--secondary);

  label {
    cursor: pointer;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .form__group {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: self-start;
      flex-direction: column;
      width: 100%;
    }
  }

  .expirationDate {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      margin: 0;
    }

    input{
      max-width: max-content;
    }
  }

  .form__input {
    text-align: center;
    border: none;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    resize: vertical;
    min-height: 2rem;
    max-height: 5rem;

    &:disabled{
      background-color: gainsboro;
      color: black;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;

    .btn-delete,
    .btn-save {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      gap: 0.5rem;
      background-color: #ff0000;
    }

    .btn-save {
      color: #fff;
      background-color: var(--tertiary);
    }

    .btn-cancel {
      color: #fff;

      background-color: var(--quaternary);
    }
  }
}



#description {
  margin-top: .5rem;
}